   
  
  .cartItem {
    width: 500px;
    height: 150px;
    display: flex;
    background-color: rgb(100, 100, 100);
  
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    position: relative;
    left:-970px;
  }
  
  .cartItem img {
    position: relative;
    width: 90px;
    left: 50px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 15px;
    color:black
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }