body, html {
    margin: 0;
    
}

.navbar{
    height: 40px;
    width: 100%;
    background-color:black;
    /* position: fixed; */

}

.cart{
    color:aliceblue;
    position: relative;
    left: 95%;
    top:5px;
    
}

.shop{
    color:aliceblue;
    position: fixed;
    left: 89%;
    top:10px;
    font-size: larger;
    
}